@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root{
    --thumbnails-hidden-image-width: 45vw;
    --thumbnails-hidden-image-height: 39.7vw;
    --thumbnails-hidden-title-height: calc(var(--thumbnails-hidden-image-height)*0.33);
    --color-border:rgba(211, 235, 3, 0.685);
    --color-shade-dark:rgb(2, 49, 2) ;
    --color-shade-light:rgba(38, 70, 38, 0.781);
    --thumbnails-image-width: 23vw;
    --thumbnails-image-height: 21vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.33);
    --ditails-image-width: 80vw;
    --ditails-image-height: 70vw;
}
body, html{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: var(--color-shade-light);
    height: 100%;
}
.logo-title {
    background-color: var(--color-shade-dark);
    color: var(--color-border);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: lakeshor;
    border-top: 3px solid var(--color-border);
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.hidden .details-container {
    display: none;
}
.details-image {
    width: var(--ditails-image-width);
    height: var(--ditails-image-height);
    border-radius: 20%;
}
.details-imageT {
    position: relative;
    width: var(--ditails-image-width);
    transition: 1.5s cubic-bezier(0.1, 2, 0.8, 1.2);
}
.details-title {
    background-color: var(--color-shade-dark);
    color: var(--color-border);
    border: 1rem;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
    font-style: italic;
    border: 3px solid var(--color-border);
    border-radius: 1rem;
}
.hide-button {
    background-color: var(--color-shade-dark);
    color: var(--color-border);
    border-color: var(--color-border);
    position: absolute;
    top: 2vw;
    right: 3vw;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
    justify-content: space-around;
    align-items: flex-end ;
    list-style-type: none;
    padding: 0 ;
    padding-top: 2,5vh;
}
.hidden .thumbnails-list {
    flex-direction: row;
    max-height: 85vh;
    max-width: 98vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 3px solid var(--color-border);
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height)+var(--thumbnails-title-height));
    border-radius: 20%;
    overflow: hidden;
}
.thumbnails-item:hover{
    transform: scale(1.025);
    transition: 40ms;
}
.is-tiny{
    transform: scale(0.001);
    transition: 0s;
}
.hidden .thumbnails-item {
    max-width: var(--thumbnails-hidden-image-width);
    max-height: calc(var(--thumbnails-hidden-image-height)+var(--thumbnails-hidden-title-height));
    min-height: 52vw;
}
.hidden .thumbnails-item{
    margin-left: 5px;
    margin-right: 5px;
    min-height: 24vw;
    min-height: 24vw;
    max-width: var(--thumbnails-hidden-image-width);
    max-height: calc(var(--thumbnails-hidden-image-height)+var(--thumbnails-hidden-title-height));
}
.selected.thumbnails-item {
    border-radius: 0;
    border: 3px solid var(--color-shade-light);
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
}
.hidden .thumbnails-image {
    width: var(--thumbnails-hidden-image-width);
    height: var(--thumbnails-hidden-image-height);
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: var(--color-shade-dark);
    color: var(--color-border);
    font-size: 1.2rem;
    height: var(--thumbnails-title-height);
    width: var(--thumbnails-image-width);
}
.hidden .thumbnails-title {
    height: var(--thumbnails-hidden-title-height);
    width: var(--thumbnails-hidden-image-width);
    font-size: 2rem;
}
.footer-title {
    background-color: var(--color-shade-dark);
    color: var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-colar{
    color: var(--color-border);
    text-decoration: none;
}
.footer-colar:hover{
    text-decoration: underline;
}
@media (min-width: 568px){
    :root{
        --thumbnails-hidden-image-width: 22vw;
        --thumbnails-hidden-image-height: 20vw;
        --thumbnails-hidden-title-height: calc(var(--thumbnails-hidden-image-height)*0.25);
        --thumbnails-image-width: 11vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.25);
        --ditails-image-width: 60vw;
        --ditails-image-height: 45vw;
    }
    body {
        justify-content: space-between;
    }
    .logo-title {
        font-size: 1.5rem;
    }
    .main-content {
        display: flex;
        justify-content: space-around; 
    }
    .details-container {
        justify-content: center;
    }
    .details-title {
        left: -5vw;
        bottom: 3vw
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 70vh;
        justify-content: flex-start;
        padding: 0;
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        max-width: 90vw;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
    }
    .thumbnails-item {
        margin-left:0;
        margin-top: 0;
        max-width: var(--thumbnails-image-width);
        min-height: 12.5vw;
    }
    .thumbnails-item + .thumbnails-item {
        margin-top: 2.3vh;
    }
    .thumbnails-title {
        font-size: 1rem;
    }
    .hidden .thumbnails-title {
        font-size: 1.8rem;
    }
}@media (min-width: 900px) {
    .logo-title {
        font-size: 3rem;
    }
    .details-image {
        width: 50vw;
        height: 38vw;
    }
    .details-title {
        left: -3vw;
        bottom: 3vw;
        font-size: 2rem;
    }
    .hide-button {
        top: 2vw;
        right: 12vw;
    }
    .thumbnails-list {
       max-height: 85vh;
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 0px;
       padding-bottom: 0px
    }
    .thumbnails-title {
        font-size: 1.5rem; 
    }
    .hidden .thumbnails-title {
        font-size: 2.5rem;
    }
    .footer-title{
        font-size: 1.5rem;
    }
}